<form [formGroup]= "userForm" (ngSubmit)="onSubmit()">
    <h3>{{title}}</h3>
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" formControlName="name">
        <mat-error *ngIf="userForm.controls.name.invalid">name is required</mat-error>
        <mat-error *ngIf="userForm.controls.name.errors.minLength">at least 3 characters</mat-error>
    </mat-form-field>
    <br>
    
    
    <mat-form-field appearance="fill">
       <mat-label>Email</mat-label>
       <input matInput placeholder="Email" formControlName="email">
       <mat-error *ngIf="userForm.controls.email.invalid">email is required</mat-error>
    </mat-form-field>
    
    

    <form formGroupName= "paymentInformations">
         <h3>{{title2}}</h3>
         <mat-form-field appearance="fill">
            <mat-label>Type de carte</mat-label>
            <input matInput placeholder="Type de carte" formControlName="typeCarte">
            <mat-error *ngIf="userForm.controls.typeCarte.invalid">Type Carte is required</mat-error>
        </mat-form-field>
    <br>
        <mat-form-field appearance="fill">
            <mat-label>Num Carte</mat-label>
            <input matInput placeholder="Num Carte" formControlName="numero">
            <mat-error *ngIf="userForm.controls.numero.invalid">num is required</mat-error>
        </mat-form-field>
    <br>    
        <mat-form-field appearance="fill">
            <mat-label>Date Expiration</mat-label>
            <input matInput placeholder="Date expiration" formControlName="dateExpiration">
            <mat-error *ngIf="userForm.controls.dateExpiration.invalid">Date expiration is required</mat-error>
        </mat-form-field>
<br>
        <mat-form-field appearance="fill">
            <mat-label>Code</mat-label>
            <input matInput placeholder="Code" formControlName="code">
            <mat-error *ngIf="userForm.controls.code.invalid">code is required</mat-error>
            <mat-error *ngIf="userForm.controls.codee.errors.minLength">at least 16 characters</mat-error>
        </mat-form-field>
        
    </form>

        <button type="submit" [disabled]="userForm.invalid">Ajouter</button>

</form>
<p>
    Form Status: {{ userForm.status }}
  </p> 
